/* font-family: 'Bungee', cursive; */

body {
    background-color: white;
}

#main-game {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee', cursive;
}
#scores{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: 'Bungee', cursive;
}
.scores{
    margin: 30px;
}
#buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.btn {
    margin: 15px;
}
button{
    border: 0px;
    background-color: white;
}

footer {
    font-family: 'Bungee', cursive;
    font-size: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: orange;
}

#scores{
    display: flex;
    flex-direction: row;
    border: 1px solid #888888;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    list-style: none;
}
#log, .score {
    list-style: none;
}

.playerScore{
    color: green;
    padding: 0px 15px;
}

.computerScore {
    color: brown;
    padding: 0px 15px;
}

/* #log {
    border: 1px solid #888888;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    list-style: ;
} */